version: 2
jobs:
  build:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -qy make gcc libtool autoconf automake libreadline-dev

      - run:
          name: Autotools
          command: |
            libtoolize -qi
            autoreconf

      - run:
          name: Configure
          command: ./configure --enable-strict --with-readline

      - run:
          name: Build
          command: make

      - run:
          name: Build test helper
          command: make testrun

      - persist_to_workspace:
          root: .
          paths:
            - es
            - testrun

  test:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - attach_workspace:
          at: .

      - run:
          name: Test
          command: |
            mkdir -p ./test/results
            ./es -ps < ./test/test.es --junit ./test/tests/* > ./test/results/results.xml

      - store_artifacts:
          path: ./test/results/

      - store_test_results:
          path: ./test/results/


workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
